.button {
  height: 60px;
  background-color: #4F9CF9;
  color: white;
  padding: 16px 44px 16px 24px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.02em;
  display: inline-block;
  align-items: center;
  cursor:pointer;
  transition: background 0.3s ease;
  white-space: nowrap;
  position: relative;

  &:after{
    content: '';
    top: auto;
    left: auto;
    width: 10px;
    height: 10px;
    background: url("../img/arrowRight.svg");
    background-size: cover;
    position: absolute;
    margin: 6.5px 20px 6.5px 10px;
    transition: transform 0.3s ease;
  }

  &:hover{
    background-color: darken(#4F9CF9, 20%);

    &:after{
      transform: scale(1.5);
    }
  }
  &-yellow{
    background-color: #FFE492;
    color: black;
    padding-left: 40px;
    padding-right: 40px;
    margin-right: 24px;
    transition: background 0.3s ease;

    &:hover{
      background-color: darken(#FFE492, 30%);
    }

    &:after{
      display:none;
    }
  }
}
.title{
  position: relative;
  font-weight: 700;
  z-index: 3;
  font-size: 72px;
  line-height: 87px;
  letter-spacing: -0.02em;
  color: #212529;
  padding: 68px 0 24px 0;

  &:after{
    content: '';
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 66px;
    background-size: contain;
    background: url("../img/underline.svg") no-repeat;

  }
}

.text{
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: #212529;
  padding-bottom: 60px;
}


@media(max-width: 1152px){
  .title{
    font-size: 64px;
    &:after{
      min-width: 100%;
    }
  }
}

@media (max-width: 768px){
  .title{
    font-size: 54px;

    &:after{
      background-size: contain;
    }
  }
}

@media (max-width: 468px){
  .title{
    font-size: 36px;
    line-height: 44px;
  }

  .switches{
    display: flex;
    align-self: flex-start;
    gap: 15px;
    left: calc(50vw - 37.5px);
    top: 100%;
    padding-top: 30px;
  }

  .switch{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #4F9CF9;
  }
}
