.footer {
  padding-top: 140px;
  background: $backColor;

  &_top {
    color: white;
    display: flex;
    justify-content: space-between;
    padding-bottom: 67px;
  }

  &_whitepace {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 240px;
  }

  &_text {
    color: white;
    padding-bottom: 0;
    font-size: 16px;
  }

  &_menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &_title {
    color: white;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    padding: 0 0;


    &:after{
      display: none;
    }
  }

  &_headTitle{
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
  }

  &_subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: white;

    &:hover{
      color: #FFE492;
      cursor: pointer;
    }
  }

  &_try {
    display: flex;
    flex-direction: column;
    gap: 23px;
    align-items: flex-start;
    width: 210px;
  }

  &_bottom {
    padding: 32px 0;
    border-top: 1px solid #2E4E73;
    display: flex;
    justify-content: space-between;
  }

  &_terms{
    display: flex;
    gap: 60px;
  }

  &_select {
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding-left: 25px;
    position: relative;
    z-index: 1;
    cursor: pointer;

    &::before{
      content: '';
      top: auto;
      left: auto;
      width: 18px;
      height: 19px;
      background: url("../img/glob.svg");
      background-size: contain;
      position: absolute;
      margin-left: -24px;
    }

    &::after{
      content: '';
      top: auto;
      left: auto;
      width: 10px;
      height: 5px;
      background: url("../img/arrowDown.svg");
      background-size: cover;
      position: absolute;
      margin: 6.5px 0 6.5px 6px;
      transition: transform 0.3s ease;
    }
  }

  &_apps {
    display: flex;
    gap: 32px;
  }

  &_language{
    position: relative;
    display: inline-block;

    &:hover ul{
      top: -400%;
      opacity: 0.5;
    }
  }

  &_options{
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    padding: 0;
    margin: 0;
    opacity: 0;
    background-color: cornflowerblue;
    transition: all .3s ease;
  }

  &_option{
    display: block;
    padding: 10px;
    text-align: end;
    transition: background-color .3s ease;
    cursor: pointer;

    &:hover{
      color: #FFE492;
    }
  }
}

@media(max-width: 1152px){
  .footer{
    &_top{
      gap: 10px;
    }
    &_whitepace{
      width: 21vw;
    }

    &_logo{
      width: 17vw;
    }

    &_try{
      width: 19vw;
    }

    &_bottom{
      gap: 40px;
      flex-wrap: wrap;
    }

    &_terms{
      gap: 4.5vw;
      justify-content: space-between;
    }

    &_apps{
      gap: 3vw;
    }
  }
}

@media(max-width: 768px){
  .footer{
    padding-top: 80px;

    &_top{
      flex-direction: column;
      gap: 100px;
    }

    &_subtitle{
      font-size: 18px;
    }

    &_whitepace{
      width: 380px;
      gap: 24px;
    }

    &_logo{
      width: 300px;
    }

    &_try{
      width: 200px;
      align-items: center;
      text-align: center;
    }

    &_bottom{
      border-top-color: transparent;
      gap: 20px;
    }

    &_terms{
      padding-bottom: 20px;
      border-bottom: 1px solid #2E4E73;
      width: 100%;
      justify-content: space-between;
      gap: 25px;
      flex-wrap: wrap;
    }

    &_apps{
      gap: 32px;
    }
  }
}

@media(max-width: 468px){
  .footer{
    padding-top: 140px;
    padding-bottom: 0;

    &_top{
      align-items: center;
      gap: 80px;
    }

    &_whitepace{
      align-items: center;
      text-align: center;
      width: 100%;
    }

    &_logo{
      width: 60vw;
    }

    &_menu{
      align-items: center;
    }

    &_try{
      width: 63vw;
    }

    &_bottom{
      flex-direction: column;
    }

    &_terms{
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 20px;
      border-bottom-color: transparent;
    }

    &_select{
      padding-right: 15px;
    }

    &_apps{
      align-self: center;
    }
  }
}
