.header {
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  &:before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: $backColor;
    z-index:4;
  }
  &__container {
    display: flex;
    min-height: 85px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

  }
  &_logo {
    display: flex;
    position: relative;
    align-items: center;
    z-index: 5;
    height: 100%;
  }
  &_menu {
    flex: 1 1 auto;
  }
  &_buttons {
    display: flex;
    z-index: 5;
    position:relative;
  }
  &_burger{
    display: none;
    z-index: 5;
    position: relative;
  }
}
.menu {
  display:flex;
  justify-content: flex-end;
  z-index: 5;
  position: relative;
  &_list {
    display: flex;
    gap: 32px;
    padding-right: 55px;
  }
  &_item {
    color:white;
    display: flex;
    align-items: center;
    gap: 10px;
    >img{
      transition: transform 0.3s ease;
    }
    &:hover{
      >img{
        transform: rotate(180deg);
      }
    }
  }
}

@media (max-width: 1220px){
  .header_menu{
    margin: 0 20px;
  }
  .menu{
    justify-content: center;
  }
  .menu_list{
    padding-right: 0;
  }
  .menu_item{
    gap: 7px;
  }
}
@media (max-width: 1152px) {
  body.lock{
    overflow: hidden;
  }
  .header_burger {
    display: block;
    position: relative;
    width: 42px;
    height: 24px;
    margin-left: 20px;
    order: 3;
    &:before, &:after {
      content: '';
      background-color: white;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s ease;
    }
    > span {
      position: absolute;
      background-color: white;
      left: 0;
      width: 100%;
      height: 2px;
      top: 11px;
      transition: all 0.3s ease;
    }
    &:before {
      top: 0;
    }
    &:after {
      bottom: 0;
    }
    &.active span {
      transform: scale(0);
    }
    &.active:before {
      transform: rotate(45deg);
      top: 11px
    }
    &.active:after {
      transform: rotate(-45deg);
      bottom: 11px;
    }
  }
  .header_menu {
    position:fixed;
    display:block;
    top:-100%;
    left:0;
    width: 100%;
    height: 316px;
    z-index:3;
    font-size:24px;
    background-color: #4F9CF9;
    justify-content: flex-start;
    margin: 0 0 20px 0;
    padding: 100px 0 0 15px;
    transition: top 0.3s ease;
    &.active{
      top:0;
    }
  }
  .menu_list{
    flex-direction: column;
  }
  .header_buttons {
    flex: 1 1 auto;
    justify-content: flex-end;
  }
}
@media (max-width: 768px){
  .header__container{
    min-height: 65px;
  }
  .header_menu{
    height: 100%;
  }
  .header_buttons{
    display: none;
  }
}
@media (max-width: 480px){
  .header__container{
    min-height: 50px;
  }
  .header_logo img{
    height: 24px;
  }
}