.button {
  height: 60px;
  background-color: #4F9CF9;
  color: white;
  padding: 16px 44px 16px 24px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.02em;
  display: inline-block;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s ease;
  white-space: nowrap;
  position: relative;
}
.button:after {
  content: "";
  top: auto;
  left: auto;
  width: 10px;
  height: 10px;
  background: url("../img/arrowRight.svg");
  background-size: cover;
  position: absolute;
  margin: 6.5px 20px 6.5px 10px;
  transition: transform 0.3s ease;
}
.button:hover {
  background-color: #0767db;
}
.button:hover:after {
  transform: scale(1.5);
}
.button-yellow {
  background-color: #FFE492;
  color: black;
  padding-left: 40px;
  padding-right: 40px;
  margin-right: 24px;
  transition: background 0.3s ease;
}
.button-yellow:hover {
  background-color: #f8bb00;
}
.button-yellow:after {
  display: none;
}

.title {
  position: relative;
  font-weight: 700;
  z-index: 3;
  font-size: 72px;
  line-height: 87px;
  letter-spacing: -0.02em;
  color: #212529;
  padding: 68px 0 24px 0;
}
.title:after {
  content: "";
  position: absolute;
  z-index: -2;
  top: 67%;
  left: 0;
  width: 100%;
  height: 66px;
  background: url("../img/underline.svg") no-repeat;
}

.text {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: #212529;
  padding-bottom: 60px;
}

@media (max-width: 1400px) {
  .title:after {
    top: 58%;
  }
}
@media (max-width: 1152px) {
  .title {
    font-size: 64px;
  }
  .title:after {
    transform: scaleX(0.5);
    top: 65%;
    left: 30%;
    min-width: 100%;
    background-size: 100%;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 54px;
  }
  .title:after {
    top: 30%;
    left: 22%;
    transform: scaleX(1);
    background-size: contain;
  }
}
@media (max-width: 550px) {
  .title {
    font-size: 44px;
    margin: auto;
  }
  .title:after {
    top: 25%;
    left: 15%;
    transform: scaleX(0.6);
  }
}
@media (max-width: 478px) {
  .title {
    font-size: 36px;
    line-height: 44px;
  }
  .title:after {
    top: 17%;
    left: 30%;
    transform: scaleX(1);
  }
}
@media (max-width: 468px) {
  .title:after {
    top: 60%;
    left: 30%;
  }
}
@media (max-width: 340px) {
  .title:after {
    transform: scale(1) scaleX(1);
    top: 60%;
    background-size: contain;
  }
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #043873;
  z-index: 9;
}
.header__container {
  display: flex;
  min-height: 85px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header_logo {
  display: flex;
  position: relative;
  align-items: center;
  z-index: 10;
  height: 100%;
}
.header_menu {
  flex: 1 1 auto;
}
.header_buttons {
  display: flex;
  z-index: 10;
  position: relative;
}
.header_burger {
  display: none;
  z-index: 10;
  position: relative;
}

.menu {
  display: flex;
  justify-content: flex-end;
  z-index: 10;
  position: relative;
}
.menu_list {
  display: flex;
  gap: 71px;
  padding-right: 95px;
}
.menu_item {
  color: white;
  display: flex;
  align-items: center;
  position: relative;
}
.menu_item:hover .menu_title:after {
  transform: rotate(180deg);
}
.menu_title {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 1px;
}
.menu_title:after {
  content: "";
  top: auto;
  left: auto;
  width: 10px;
  height: 5px;
  background: url("../img/arrowDown.svg");
  background-size: cover;
  position: absolute;
  margin: 6.5px 0 6.5px 20px;
  transition: transform 0.3s ease;
}

@media (max-width: 1220px) {
  .menu {
    margin: 0 20px;
    justify-content: center;
  }
  .menu_list {
    padding-right: 20px;
  }
  .menu_title:after {
    margin-left: 7px;
  }
}
@media (max-width: 1152px) {
  body.lock {
    overflow: hidden;
  }
  .header_burger {
    display: block;
    position: relative;
    width: 42px;
    height: 24px;
    margin-left: 20px;
    order: 3;
  }
  .header_burger:before, .header_burger:after {
    content: "";
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease;
  }
  .header_burger > span {
    position: absolute;
    background-color: white;
    left: 0;
    width: 100%;
    height: 2px;
    top: 11px;
    transition: all 0.3s ease;
  }
  .header_burger:before {
    top: 0;
  }
  .header_burger:after {
    bottom: 0;
  }
  .header_burger.active span {
    transform: scale(0);
  }
  .header_burger.active:before {
    transform: rotate(45deg);
    top: 11px;
  }
  .header_burger.active:after {
    transform: rotate(-45deg);
    bottom: 11px;
  }
  .header_menu {
    position: fixed;
    display: block;
    top: -100%;
    left: 0;
    width: 100%;
    height: 316px;
    z-index: 6;
    font-size: 24px;
    background-color: #4F9CF9;
    justify-content: flex-start;
    margin: 0 0 20px 0;
    padding: 100px 0 0 30px;
    transition: top 0.3s ease;
  }
  .header_menu.active {
    top: 0;
  }
  .menu_list {
    flex-direction: column;
    gap: 35px;
  }
  .menu_title {
    font-size: 20px;
  }
  .header_buttons {
    flex: 1 1 auto;
    justify-content: flex-end;
  }
}
@media (max-width: 768px) {
  .header__container {
    min-height: 65px;
  }
  .header_menu {
    height: 100%;
    padding-top: 85px;
  }
  .header_buttons {
    display: none;
  }
}
@media (max-width: 480px) {
  .header__container {
    min-height: 50px;
  }
  .header_menu {
    padding-top: 70px;
  }
  .header_logo img {
    height: 24px;
  }
}
.whitePace {
  background-color: #043873;
  padding: 252px 0 140px 0;
}
.whitePace__container {
  display: flex;
  gap: 60px;
  position: relative;
}
.whitePace_content {
  display: block;
  z-index: 3;
}
.whitePace_title {
  padding: 100px 0 24px 0;
  font-size: 64px;
  line-height: 77px;
  color: white;
}
.whitePace_title:after {
  display: none;
}
.whitePace_text {
  color: white;
}
.whitePace_wavyImage {
  position: absolute;
  z-index: 2;
  top: 305px;
  left: 0;
  width: 100%;
}
.whitePace_image {
  display: flex;
  flex: 1 1 824px;
}
.whitePace_forImage {
  width: 100%;
  max-height: 549px;
  background-color: #C4DEFD;
  z-index: 3;
}

.management {
  padding: 140px 0 50px 0;
  position: relative;
}
.management__container {
  display: flex;
  gap: 60px;
}
.management_content {
  display: block;
  z-index: 3;
}
.management_title {
  padding-right: 210px;
}
.management_image {
  display: flex;
  flex: 1 1 748px;
  z-index: 3;
}
.management_forImage {
  width: 100%;
  height: 547px;
  background-color: #C4DEFD;
}
.management__container:before {
  content: "";
  background: url("../img/backManagement.svg") no-repeat;
  position: absolute;
  top: 35%;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 1400px) {
  .whitePace {
    padding: 190px 0 140px 0;
  }
  .whitePace_title {
    padding: 50px 0 24px 0;
  }
  .whitePace_forImage {
    height: 456px;
  }
  .management__container:before {
    top: 0;
    left: -10%;
  }
  .management_forImage {
    height: 448px;
  }
  .management_title {
    padding: 18px 0 24px 0;
  }
}
@media (max-width: 1152px) {
  .whitePace {
    padding: 235px 0 140px 0;
  }
  .whitePace_title {
    padding: 0 0 24px 0;
  }
  .whitePace_forImage {
    height: 350px;
  }
  .management__container {
    gap: 124px;
  }
  .management__container:before {
    top: -8%;
    left: -30%;
    transform: scale(0.5) rotate(10deg);
  }
  .management_title {
    padding: 0 0 24px 0;
    width: 400px;
  }
  .management_forImage {
    height: 328px;
  }
}
@media (max-width: 768px) {
  .whitePace {
    padding: 215px 0 100px 0;
  }
  .whitePace_button {
    margin-bottom: 100px;
  }
  .whitePace_forImage {
    max-width: 550px;
    height: 350px;
    margin: auto;
  }
  .whitePace__container, .management__container {
    display: block;
  }
  .whitePace_content, .management_content {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .management {
    padding-top: 100px;
  }
  .management__container:before {
    top: -20%;
    left: -33%;
    transform: scale(0.5) rotate(10deg);
  }
  .management_content {
    margin-bottom: 60px;
  }
  .management_forImage {
    max-width: 560px;
    height: 350px;
    margin: auto;
  }
  .management_title {
    width: 480px;
    margin: auto;
  }
}
@media (max-width: 550px) {
  .management_title {
    line-height: 50px;
    width: 400px;
  }
}
@media (max-width: 468px) {
  .whitePace {
    padding: 135px 0 80px 0;
  }
  .whitePace_forImage {
    width: 100%;
    height: 190px;
  }
  .management {
    padding-top: 80px;
  }
  .management_forImage {
    width: 100%;
    height: 180px;
  }
  .management__container:before {
    top: -10%;
    left: -37%;
    transform: scale(0.5) rotate(0) scaleY(1.2);
    background-size: contain;
  }
  .management_title {
    width: 250px;
  }
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
}

[class*=__container] {
  max-width: 1514px;
  margin: 0 auto;
  padding: 0 32px;
}

@media (max-width: 468px) {
  [class*=__container] {
    padding: 0 15px;
  }
}

/*# sourceMappingURL=main.css.map */
